form,
fieldset {
  margin: 0;
  padding: 0;
  border-style: none;
}

input[type='text'],
input[type='tel'],
input[type='email'],
input[type='search'],
input[type='password'],
input[type='url'],
input[type='date'],
textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  box-sizing: border-box;
  border: none;
  border: 1px solid $form-element-border-color;
  // &:focus {
    
  // }

  @include placeholder {
    color: $gray;
  }
}

input[type='text'],
input[type='tel'],
input[type='email'],
input[type='search'],
input[type='password'],
input[type='url'],
input[type='date'] {
  height: $form-element-height;
  line-height: $form-element-height;
  padding: $form-element-padding;
  width: 360px;
  max-width: 100%;
}

select {
  -webkit-border-radius: 0;
}

textarea {
  resize: vertical;
  vertical-align: top;
  height: 150px;
	width: 500px;
	max-width: 100%;
	padding: 10px 15px;
}

input[type=file] {
	@include media('<phone') {
		max-width: 100%;
	}
}

button,
input[type='button'],
input[type='reset'],
input[type='file'],
input[type='submit'] {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  cursor: pointer;
  @extend .btn;
  height: $form-element-height;
  line-height: $form-element-height;
  padding: $form-element-padding;
}

